*{
    font-family: 'itc-galliard', serif;
}
.content{
    padding: 20px;
}
img{
    width:100%;
}
.article-wrap{
    margin:100px 15%;
    max-width: 800px;
}
p{
    font-size: 20px;
    margin-bottom: 1em;
    line-height: 1.3em;
}
h1{
    font-family: 'chapman-extended', sans-serif;
    font-weight: 900;
    font-size: 62px;
    margin-bottom: 1em;
}
p .photo-hov{
    font-style: italic;
    cursor: zoom-in;
    transition: color 0.1s ease-in-out;
    text-decoration: underline #BB8588 2px;
    text-underline-offset: 2px;
    height: 10px;
    
}
p .photo-hov:hover{
    
    color: #BB8588
}
#temp-div{
    position: absolute;
    width: 30%;
    transition: all 0.2s ease-in-out;
    transform-origin: 0 0;
}
#temp-div.fullscreen{
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #BB858899;
}
.hov-img-wrap{
    width:100%;
}
.fullscreen .hov-img-wrap{
    width:80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    height: fit-content;
}